{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Planning Data - Your Department - Your Hospital</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/machine.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/beam.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/data.css' %}" />
    <!-- TABLESAW -->
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/tablesaw.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/tablesaw_overrides.css' %}" />
    <script type="text/javascript" src="{% static 'pdbook/tablesaw.js' %}"></script>
    <script type="text/javascript" src="{% static 'pdbook/tablesaw-init.js' %}"></script>
    <!-- FLOATTHEAD -->
    <script type="text/javascript" src="{% static 'pdbook/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pdbook/jquery.floatThead.min.js' %}"></script>
    <script type="text/javascript">
      $(function(){
        $('table.tablesaw').floatThead();
      });
    </script>
    <!-- MODAL WINDOWS FOR INTERPOLATOR AND TABLE INFO -->
    <script type="text/javascript" src="{% static 'pdbook/jquery.leanModal.min.js' %}"></script>
    <script type="text/javascript">
      $(function(){
        $('a[rel*=leanModal]').leanModal({top: 200, closeButton: ".modal_close"});
      });
    </script>
    <!-- INTERPOLATION -->
    <link rel="stylesheet" type="text/css" href="{% static 'pdbook/interpolation.css' %}" />
    <script type="text/javascript" src="{% static 'pdbook/interpolation.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#interpolation-form-2D").submit(function(event) {
          $.ajax({
            type: "POST",
            url: "{{ request.path }}/interpolate",
            data: {'x_value' : $('#x_value_2d').val(),
                   'y_value' : $('#y_value_2d').val()
                  },
            complete: [updateTable2D]
          });
          return false;
        });
    });
    </script>
  </head>
  <body>
    <selector>
      <!-- SELECTOR FOR MACHINES -->
      {% if machine_list %}
        <ul class="machine">
          {% for machine in machine_list %}
            {% if machine == selected_machine %}
              <li>
                  <a class="selected" href="{% url 'machine' machine.name %}" title="{{machine.description}}">{{ machine.visible_name|safe }}</a>
              </li>
            {% else %}
              <li>
                <a class="unselected" href="{% url 'machine' machine.name %}" title="{{machine.description}}">{{ machine.visible_name|safe }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p style="text-align: center">No machines have been added</p>
      {% endif %}
      <!-- END SELECTOR FOR MACHINES -->
      <!-- SELECTOR FOR BEAMS -->
      {% if beam_list %} 
        <ul class="beam">
          {% for beam in beam_list %}
            {% if beam == selected_beam %}
              <li>
                <a class="selected" href="{% url 'beam' selected_machine.name beam.name %}">{{beam.visible_name|safe }}</a>
              </li>
            {% else %}
              <li>
                <a class="unselected" href="{% url 'beam' selected_machine.name beam.name %}">{{ beam.visible_name|safe }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        {% if selected_machine %}
          <p style="text-align: center">No beams have been added for the selected machine</p>
        {% endif %}
      {% endif %}
      <!-- END SELECTOR FOR BEAM -->
      <!-- SELECTOR FOR DATA -->
      {% if data_list %}
        <ul class="data">
          {% for data in data_list %}
            {% if data == selected_data %}
              <li>
                <a class="selected" title="{{data.data_about}}" href="{% url 'data' selected_machine.name selected_beam.name data.name %}">{{ data.visible_name|safe }}</a>
              </li>
            {% else %}
              <li>
                <a class="unselected" title="{{data.data_about}}" href="{% url 'data' selected_machine.name selected_beam.name data.name %}">{{ data.visible_name|safe }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        {% if selected_beam %}
          <p style="text-align: center">No data has been added for the selected beam</p>
        {% endif %}
      {% endif %}
      <!-- END SELECTOR FOR DATA -->
    </selector>
    <data_table>
      {% if selected_data %}
          <!-- START OF DATA TABLE -->
          <div class="tablesaw-wrapper">
            <div class="table-btn">
              {% if selected_data.interpolation_type == '1D' %}
                <a rel="leanModal" href='#modal-interpolate-1D'>Interpolate</a>
              {% elif selected_data.interpolation_type == '2D' %}
                <a rel="leanModal" href='#modal-interpolate-2D'>Interpolate</a>
              {% endif %}
              <a rel="leanModal" href='#modal-info'>Info</a>
            </div>
            <table class="tablesaw tablesaw-swipe" data-tablesaw-mode="swipe" data-tablesaw-minimap>
              <!-- TABLE HEADER -->
              <thead>
                <tr>
                  {% for label in header_labels %}
                    {% if forloop.first %}
                      <th class="tablesaw-cell-persist" data-tablesaw-priority="persist">{{ label|safe }}</th>
                    {% else %}
                      <th>{{ label|safe }}</th>
                    {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <!-- TABLE BODY -->
              <tbody>
                {% for row in table_data %}
                  <tr>
                    {% for value in row %}
                      <td>{{ value|safe }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- END OF DATA TABLE -->
      {% endif %}
    </data_table>
    <div id="modal-interpolate-2D">
      {% if selected_data %}
      <form method='post' id='interpolation-form-2D'>
        {% csrf_token %}
        <div class="interpolation-container">
          <table class="interpolation-table">
            <tr>
              <td rowspan="2" style="color: #666 !important;">{{ y_title|safe }}</td>
              <td colspan="3" style="color: #666 !important;">{{ x_title|safe }}</td>
            </tr>
            <tr>
              <td class="input-near" id="x-a"></td>
              <td><input id="x-input" type="text"></td>
              <td class="input-near" id="x-b"></td>
            </tr>
            <tr>
              <td class="input-near" id="y-a"></td>
              <td id="tl"></td>
              <td id="tc"></td>
              <td id="tr"></td>
            </tr>
            <tr>
              <td><input id="y-input" type="text"></td>
              <td id="cl"></td>
              <td id="interp-result"></td>
              <td id="cr"></td>
            </tr>
            <tr>
              <td class="input-near" id="y-b"></td>
              <td id="bl"></td>
              <td id="bc"></td>
              <td id="br"></td>
            </tr>
          </table>
        </div>
        <div class="interp-btn">
          <button type="submit" id="calculate">Calculate</button>
        </div>
      </form>
      {% endif %}
    </div>
    <div id="modal-info">
        Description: {{ selected_data.description }} <br />
        Source: {{ selected_data.data_source }}
    </div>
    <div id="lean_overlay"></div>
  </body>
</html>
