.beam {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    display: table;
    table-layout: fixed;
    overflow: hidden;
}

.beam li {
    display: table-cell;
    *float: left;
    height: 21px;
    text-align: center;
    padding-left: 3px;
    vertical-align: middle;
}

.beam li:first-child {
    padding-left: 0;
}

.beam li a{
    display: block;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #0099dd;
    height: 21px;
}

.beam li a.selected{
    font-weight: 400;
    background-color: #0099dd;
    color: #eee;
}

.beam li a.unselected{
    font-weight: 100;
    background-color: #fff;
    color: #333;
}

.beam li a.unselected:hover{
    font-weight: 400;
    background-color: #0099dd;
    color: #eee;
}


@media screen and (max-width: 1000px) {
    .beam {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .beam {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .beam {
        font-size: 8px;
    }
}

@media screen and (max-width: 400px) {
    .beam {
        font-size: 6px;
    }
}
