body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    background-color: #ffffff;
}

selector {
    float: left;
    width: 100%;
}

data_table {
    float: left;
    width: 100%;
}
