.tablesaw-wrapper {
    max-width: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

table.tablesaw {
    color: #666666;
    font-size: 14px;
}

/* Table header cells */
.tablesaw thead th {
    font-weight: 400;
    background-color: #0099dd;
    color: #eee;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

/* Need to specify border-left for first and border-right for last due to floatThead */
.tablesaw thead tr:first-child th {
    padding-top: .9em;
    padding-bottom: .7em;
    font-family: sans-serif;
    border-right: 1px solid rgba(170, 205, 218, 0.2);
    border-left: 1px solid #0099DD
}

.tablesaw thead tr:last-child th {
    border-right: 1px solid #0099DD
}

/* Table body cells */
.tablesaw td {
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #e4e1de;
}

/* Table body nth (odd) rows */
.tablesaw tr:nth-child(odd){
    background-color: #eeeeee;
}

/* Table rows have a gray bottom stroke by default */
.tablesaw tbody tr {
    border-bottom: 1px solid #dfdfdf;
}

@media only all {
    /* Change the right border on the persist cells */
    .tablesaw-swipe .tablesaw-cell-persist {
        border-right: 1px solid rgba(170, 205, 218, 1);
        border-left : 1px solid #e4e1de;
    }
}

/* Forward/back buttons */
.tablesaw-btn {
    border: 1px solid #0099DD;
}

.tablesaw-btn:hover {
    background-color: #0099DD;
}

a.tablesaw-nav-btn.left:before {
    left: .55em !important;
    top: .4em !important;
}

a.tablesaw-nav-btn.right:before {
    left: .65em !important;
    top: .4em !important;
}

a.tablesaw-nav-btn.left:hover:before {
    border-right: 5px solid #eee !important;
}

a.tablesaw-nav-btn.right:hover:before {
    border-left: 5px solid #eee !important;
}

/* Dots */
.tablesaw-advance-dots li {
    padding: .3em .2em;
}
